<!doctype html>
<html lang="en" xmlns:th="">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/css.css" rel="stylesheet">
    <title>Oglas</title>
</head>
<body style="
      background-image: url('images/oglas.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:  auto auto;">

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ImiPoslovi</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/poslodavacIndex">Nazad
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="row align-items-center">
    <div class="col-md-6 mx-auto text-white bg-secondary " style="border:4px solid #593196;margin-top:150px;margin-bottom:200px;padding-bottom:15px;">




        <div class="card mb-6 card text-white bg-secondary" style="margin-top:20px;">
            <h3 class="card-header" style="border:1px solid #009cdc;" th:text="${naslov}" />
            <div style="height:200;width:100%">
                <div class="d-flex justify-content-center" style="margin:10px;">
                    <img  style="border:1px solid #009cdc;max-width: 100%;height: auto;"  th:src="'data:image/png;base64,' + ${slika}" />
                </div>
            </div>
            <div class="card-body" style="border:1px solid #009cdc;">
                <div style="float:left;display:inline;">
                    <p class="card-text" style="font-weight:bold;">Plata: <span th:text="${plata}"/></p>
                    <p class="card-text" style="font-weight:bold;">Kategorija: <span th:text="${kategorija}"/></p>
                    <p class="card-text" style="font-weight:bold;">Podkategorija: <span th:text="${podkategorija}"/></p>
                </div>
                <button type="button" style="float:right;display:inline;" class="btn btn-warning" disabled>Like:<span th:text="${lajkovi}"/></button>
            </div>
            <div class="card-body" style="border:1px solid #009cdc;">
                <p class="card-text">Opis: <span  th:text="${opis}"/></p>
            </div>
            <div class="card-body" style="border:1px solid #009cdc;">
                <p class="card-text" style="font-weight:bold;">Na daljinu: <span th:text="${remote}"/></p>
            </div>
            <div class="card-footer text-white" style="border:1px solid #009cdc;" >
                <p style="float:left;display:inline;font-weight:bold;">Datum postavke: <span th:text="${datumPostavke}"/></p>
                <p style="float:right;display:inline;font-weight:bold;">Datum Isteka: <span th:text="${datumIsteka}"/></p>
            </div>
            <div class="card-body" style="border:1px solid #009cdc;">
                <label for="Komentar" class="form-label mt-4">Komentar</label>
                <textarea class="form-control" id="Komentar" rows="1" maxlength="300"></textarea>
                <button style="margin-top:5px;" type="button" class="btn btn-primary" th:attr="onclick=|PostKom('${IdOglasa}')|">Post Komentar</button>
            </div>
            <ul class="list-group list-group-flush" style="border:1px solid #009cdc;">

                <th:block th:each="komentar:${komentari}">
                    <li class="list-group-item " th:text="${komentar.s1}+' '+${komentar.s2}+' : '+${komentar.tekst}"/>

                </th:block>
            </ul>

        </div>
        <br>
        <h3 class="card-header text-white bg-secondary" style="border:1px solid #009cdc;" th:text="${MojOglas}"/>

        <div class="card-body text-white bg-secondary" style="border:1px solid #009cdc;">
        <th:block th:each="radnik:${radnici}">
            <img width="100" style="border:2px solid #593196;float:left;margin-right:5px;" height="100" th:src="'data:image/png;base64,' + ${radnik.slika}"/>
            <div class="card text-white bg-secondary mb-3" style="border:2px solid #593196;">
                <h5 class="card-header" >Ime: <span th:text="${radnik.ime}+' '+${radnik.prezime}"/></h5>
                <div class="card-body">
                    <p class="card-text" >Email: <span th:text="${radnik.mail}"/></p>
                </div>
            </div>
        </th:block>
        </div>






    </div>
</div>





















<footer class="page-footer fixed-bottom font-small bg-primary">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color:white;">© 2021 Copyright:
        Ognjen Cirkovic & Branislav Radivojevic
    </div>
    <!-- Copyright -->

</footer>




















<!-- Optional JavaScript
-->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/bootstrap.bundle.js" ></script>
<script src="js/poslodavac.js" ></script>

</body>
</html>